    .header{
    font-weight: bold;
    font-size:50px;
    }
table, th, td {
  border:1px solid black;
  font-size:25px;
}
table{
margin-left: auto;
margin-right: auto;
}
.date{
  margin: auto;
  text-align: center;
  font-size:25px;
  width: 50%;
  padding: 10px;
}

.input-date{
  margin: auto;
  text-align: center;
  font-size:15px;
  width: 50%;
  padding: 10px;
}

.button{
  font-size:25px;
  font-weight: bold;
}