<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title>Add car</title>
<link href="css/bootstrap-4.4.1.css" rel="stylesheet">
</head>

<body>
	    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand">
              <img id="logo" src="images/cowboy Cut.png" width="100px" height="70px">
          </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li>
              <a class="admin nav-link" sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">Admin Panel</a>
            </li>
          </ul>
</div>
      </div>
    </nav>
	<form action="#" th:action="@{/car-register}" th:object="${car}" th:method="post" enctype="multipart/form-data">
  <div class="container">
    <h1>Add car</h1>
    <p>Please fill in this form to add a car.</p>
    <hr>
	 <label th:for="name"><b>Name</b></label>
    <input type="text" minlength="2" maxlength="15" placeholder="Enter Name" th:name="Name" th:id="Name" required>

    <label th:for="model"><b>Model</b></label>
    <input type="text" minlength="4" maxlength="20" placeholder="Enter Model" th:name="model" th:id="model" required>

    <label th:for="color"><b>Color</b></label>
    <input type="text" minlength="3" maxlength="15" placeholder="Enter Color" th:name="color" th:id="color" required>


    <label th:for="locationName"><b>Location name</b></label>
    <input type="text" minlength="3" maxlength="15" placeholder="Enter Location" th:name="locationName" th:id="locationName" required>

    <label th:for="price"><b>price</b></label>
    <input type="text" placeholder="Enter Price" th:name="price" th:id="price" required>

    <label th:for="Seats"><b>seats</b></label>
    <input type="text" minlength="1" maxlength="1" placeholder="Enter Seats" th:name="seats" th:id="seats" required>

    <label th:for="registrationNumber"><b>Registration number</b></label>
    <input type="text" minlength="6" maxlength="8" placeholder="Enter Registration number" th:name="registrationNumber" th:id="registrationNumber" required>

    <label th:for="serviceDate"><b>Date of service</b></label>
	<input type="date" placeholder="Enter date of service" th:name="serviceDate" th:id="serviceDate" required><br>

    <label th:for="transmission"><b>Transmission type</b></label>
    <select th:name="transmission" th:id="transmission" required>
       <option value="1">Manual</option>
       <option value="2">Automatic</option>
    </select>
      <br>
	<label th:for="type"><b>Car type</b></label>
	<select th:name="type" th:id="type" required>
  	    <option value="1">jeep</option>
  	    <option value="2">normal</option>
  	    <option value="3">other</option>
	</select>
      <br>
      <label>Car Picture:</label>
      <input type="file" id="file" name="file" size="50" />
    <hr>

    <button type="submit" class="carAdd-btn">add car</button>
  </div>
</form>
</body>
</html>
