<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Users table</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<style>
    .header{
        font-weight: bold;
        font-size:50px;
    }
    table, th, td {
        border:1px solid black;
        font-size:25px;
    }
    table{
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div>
    <h1><a href="/admin"><- BACK</a></h1>
</div>
<table class="users">
    <tr>
        <th class="header">ID</th>
        <th class="header">Email</th>
        <th class="header">Name</th>
    </tr>
    <tr th:each="user : ${users}">
        <td class="id" th:text="${user.id}">id</td>
        <td class="email" th:text="${user.username}">email</td>
        <td class="name" th:text="${user.name} + ' ' + ${user.surname}">name</td>
    </tr>
</table>
</body>
</html>
