<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Users table</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/tables.css" rel="stylesheet">
</head>
<body>
<div>
    <h1><a href="admin.html"><- BACK</a></h1>
</div>
<table class="users">
    <tr>
        <th class="header">ID</th>
        <th class="header">Name</th>
        <th class="header">Model</th>
        <th class="header">registration number</th>
        <th class="header">price</th>
    </tr>
    <tr>
        <td class="id">123456</td>
        <td class="name">Kia</td>
        <td class="model">sorento</td>
        <td class="reg-number">123456789</td>
        <td class="price">155$</td>
    </tr>
    <tr>
        <td class="id">654321</td>
        <td class="name">mercedes benz</td>
        <td class="model">EQB SUV</td>
        <td class="reg-number">123456789</td>
        <td class="price">250$</td>
    </tr>
</table>
</body>
</html>
