<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Users table</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/available-cars.css" rel="stylesheet">
</head>
<body>
<div>
    <h1><a href="admin.html"><- BACK</a></h1>
</div>

<table class="cars-available">
    <tr th:each="car : ${cars}">
        <td> <img class="img" th:src="${car.carPicture}" width="100" height="120"></td>
        <td class="id" th:text="${car.id}">id</td>
        <td class="name" th:text="${car.name}">name</td>
        <td class="model" th:text="${car.model}">model</td>
        <td class="reg-number" th:text="${car.registrationNumber}">regnum</td>
        <td class="price" th:text="${car.price}">price</td>
        <td class="available" th:text="${car.available}">available</td>
    </tr>
</table>
</body>
</html>
