<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Users table</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/tables.css}" rel="stylesheet">
</head>
<body>
<!--navbar start-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand">
            <img id="logo" th:src="@{/images/cowboy Cut.png}" width="100px" height="70px">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="Sign-up nav-link" sec:authorize="!isAuthenticated()" href="/register">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="Profile nav-link" sec:authorize="!isAuthenticated()" href="/login">Log In</a>
                    <a class="Profile nav-link" sec:authorize="isAuthenticated()" href="/logout">Log Out</a>
                </li>
                <li class="nav-item">
                    <a class="admin nav-link" sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">Admin Panel</a>
                    <a class="admin nav-link" sec:authorize="hasRole('ROLE_USER')" href="/user">User Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--navbar end-->

<table class="users">
    <tr>
        <th class="header">ID</th>
        <th class="header">Email</th>
        <th class="header">Name</th>
    </tr>
    <tr th:each="user : ${users}">
        <td class="id" th:text="${user.id}">id</td>
        <td class="email" th:text="${user.username}">email</td>
        <td class="name" th:text="${user.name} + ' ' + ${user.surname}">name</td>
    </tr>
</table>
</body>
</html>
